@xero:registry=https://artifactory.xero-support.com/artifactory/api/npm/npm-dev/
registry=https://registry.npmjs.org/
save-exact=true
//artifactory.xero-support.com/artifactory/api/npm/npm-dev/:_authToken=${NPM_TOKEN}
//artifactory.xero-support.com/artifactory/api/npm/npm-upstream/:_authToken=${NPM_TOKEN}
